{% extends 'base.html' %}

{% block content %}


<div style="display: flex; justify-content: space-between; margin: 7px;">
    <div style="display: flex; flex-direction: column;">
        <p style="font-weight: bold;">Filter</p>
        <a href="{% url 'collection:all' %}">All</a>
        <a href="{% url 'collection:fendi' %}">Fendi</a>
        <a href="{% url 'collection:balenciaga' %}">Balenciaga</a>
    </div>

    <div style="display: flex; flex-direction: column;">
        <p style="font-weight: bold;">Sort</p>
        <a href="{% url 'collection:all' %}">All</a>
        <a href="#">Shirt</a>
        <a href="#">Shoe</a>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;">
{% for collection in collections %}
<div style="height: 300px; width: 190px; border-color: lightslategrey; display: flex; flex-direction: column; align-items: center; justify-content: center; border-style: solid; border-width: 2px; margin-bottom: 3px; margin-top: 30px; margin: 5px;">
    <img src="{{ collection.collection.url }}" alt="" style="height: 230px; width: 170px; object-fit: cover;">
    {% if collection.brand == "fendi" %}
        <img src="/media/media/brand/download_1.png" style="height: 50px; width: 50px; object-fit: cover; margin-top: 2px;">
    {% endif %}
    {% if collection.brand == "balenciaga" %}
        <img src="/media/media/brand/download.png" style="height: 50px; width: 50px; object-fit: cover; margin-top: 2px;">
    {% endif %}

</div> 

{% endfor %}
</div>


{% endblock content %}